:root {
  --color-primary: #d848ff;
  --color-secundary: #8000a3;
  --color-tertiary: #142f85;
  --color-white: #ffffff;
  --color-black: #19160d;
  --color-grey: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(117deg, #333333, #222222 25%);
  color: var(--color-white);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
}

/* GLOBAL STYLES */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HEADER */
#header {
  height: 90px;
  width: 100%;
  padding: 0 20px;
  justify-content: space-between;
  background-color: var(--color-black);
}

#header figure img {
  width: 70px;
  border-radius: 50%;
  transition: 0.2s ease;
}

#header img:hover {
  transform: scale(1.1);
}


/* MENU BARS */
.menu-toggle {
  display: none;
}

#menu-bars {
  filter: invert(1);
}

.menu-icon {
  width: 40px;
  display: none;
  cursor: pointer;
  position: relative;
}

#navbar ul {
  gap: 30px;
}

#navbar li,
#introduction__links li {
  list-style: none;
}

#navbar a,
#introduction__links a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: bold;
}

#navbar a:hover,
#introduction__links a:hover {
  color: var(--color-primary);
  text-shadow: 0 0px 10px var(--color-secundary);
}

/* MAIN */
main{
  position: relative;
  width: 100%;
}

#introduction {
  padding: 70px 30px;
  gap: 40px;
  flex-wrap: wrap;
}

#introduction__container {
  width: 600px;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

#introduction__container h1 {
  font-size: 3rem;
  font-weight: 900;
}

#introduction__container span {
  color: var(--color-primary);
  text-shadow: 0 0px 10px var(--color-secundary);
  text-decoration: underline;
  font-size: 4rem;
}

#introduction__links {
  gap: 30px;
  width: 100%;
  justify-content: flex-end;
  flex-wrap: wrap;
}

#introduction__links li {
  gap: 30px;
}

#introduction__img-container img {
  max-width: 350px;
  border-radius: 50%;
}

.introduction__links--items img {
  width: 40px;
  filter: invert(1);
}

.introduction__links--items img:hover {
  filter: invert(28%) sepia(99%) saturate(6361%) hue-rotate(273deg)
    brightness(97%) contrast(101%);
}

/* ABOUT ME */
#about-me {
  padding: 70px 30px;
  min-height: 500px;
  background: url("../public/img/BG_colors.jpeg") center / cover no-repeat;
}

#about-me__container {
  flex-direction: column;
  gap: 30px;
  width: 60%;
}

#about-me__container h2,
#skills h2,
#hobbies h2,
#formation h2,
#projects h2,
#contact h2 {
  font-size: 4rem;
  text-decoration: underline;
  text-shadow: 0 0px 10px var(--color-secundary);
  text-align: center;
}

#about-me__container p {
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 0 0px 10px var(--color-white);
}

/* FLOATING CIRCLE */
#container__floating-circle{
  position: sticky;
  top: 90%;
  z-index: 100;
  width: 100%;
  justify-content: flex-end;
  padding: 0 20px;
}

#floating-circle{
  padding: 0 8px;
  border-radius: 50%;
  background-color: var(--color-secundary);
  text-decoration: none;
  color: var(--color-white);
  text-shadow: 0 0px 10px var(--color-white);
  font-size: 2rem;
  opacity: 0.7;
}

#floating-circle:hover{
  opacity: 1;
}

#floating-circle::after{
  content: 'Ir arriba';
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 0.9rem;
  text-align: end;
  opacity: 0;
  transition: .4s ease;
  width: 60px;
}

#floating-circle:hover::after {
  opacity: 1;
  top: 0;
  right: 60px;
}

/* SECTIONS STYLES */
#skills,
#hobbies,
#formation,
#projects,
#contact {
  padding: 70px 30px;
  gap: 30px;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#skills__carrusel,
#hobbies__carrusel {
  display: flex;
  width: 100%;
  overflow: hidden;
  padding: 30px 0;
}

#skills__container-card {
  width: calc(300px * 20);
  animation: scroll 20s linear infinite;
  gap: 15px;
}

#skills__container-card .cards,
#hobbies__container-card .cards {
  width: 300px;
  height: 350px;
  border: 2px solid var(--color-secundary);
  box-shadow: 0 0 15px -5px var(--color-primary);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: end;
  justify-content: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 10));
  }
}

.card-html {
  background: url("../img/html.svg") center / cover no-repeat;
}

.card-css {
  background: url("../img/css3.png") center / cover no-repeat;
}

.card-js {
  background: url("../img/js.png") center / cover no-repeat;
}

.card-bootstrap {
  background: url("../img/Bootstrap.png") center / cover no-repeat;
}

.card-sass {
  background: url("../img/Sass.png") center / cover no-repeat;
}

.card-node {
  background: url("../img/node.png") center / cover no-repeat;
}

.card-git {
  background: url("../img/git.png") center / cover no-repeat;
}

.card-github {
  background: url("../img/github.png") center / cover no-repeat;
}

.card-npm {
  background: url("../img/npm.png") center / cover no-repeat;
}

.card-python {
  background: url("../img/python.png") center / cover no-repeat;
}

.cards p {
  padding: 0 30px;
  font-size: 1.8rem;
  background-color: #8000a3aa;
  border-radius: 30px;
  text-align: center;
}

/* HOBBIES */
#hobbies {
  background: linear-gradient(0deg, var(--color-tertiary), #222222 15%);
}

#hobbies__container-card {
  width: calc(300px * 10);
  animation: scroll-hobbies 15s linear infinite;
  gap: 15px;
}

@keyframes scroll-hobbies {
  0% {
    transform: translateX(calc(-300px * 5));
  }
  100% {
    transform: translateX(0);
  }
}

.card-video-games {
  background: url("../img/play-video-games.jpg") center / cover no-repeat;
}

.card-anime {
  background: url("../img/watch-anime.jpg") center / cover no-repeat;
}

.card-photos {
  background: url("../img/take-pictures.jpg") center / cover no-repeat;
}

.card-travel {
  background: url("../img/travel.jpg") center / cover no-repeat;
}

.card-music {
  background: url("../img/listen-to-music.jpeg") center / cover no-repeat;
}

/* FORMATION */
#formation {
  background: linear-gradient(180deg, var(--color-tertiary), #222222);
}

#formation__container-cards {
  flex-wrap: wrap;
  height: auto;
  gap: 20px;
  padding: 30px;
}

.formation__cards {
  height: 550px;
  width: 400px;
  flex-direction: column;
  justify-content: space-between;
}

.formation__cards img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border: 2px solid var(--color-tertiary);
  border-radius: 10px;
}

.formation__cards h3 {
  font-size: 2rem;
  text-align: center;
}

.formation__cards p {
  text-align: center;
}

/* PROJECTS */
#projects {
  width: 100%;
}

.projects__container-cards:nth-child(odd) {
  flex-direction: row-reverse;
}

.projects__container-cards {
  gap: 30px;
  width: 100%;
  padding: 70px 30px;
  border-bottom: 3px outset var(--color-secundary);
}

.projects__container-btn:hover .projects__container-cards img {
  box-shadow: 0 0 20px -5px var(--color-white);
}

#projects figure{
  width: 70%;
}

#projects img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.projects__container-cards--text {
  width: 400px;
  text-align: center;
  flex-direction: column;
  gap: 10px;
}

.projects__container-cards--text h3 {
  font-size: 3rem;
}

.projects__container-btn {
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.projects__container-btn a {
  width: 200px;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 5px;
  text-shadow: 0 0 5px var(--color-tertiary);
  transition: 0.2s ease;
}

.projects__container-btn a:nth-child(2) {
  border: 1px solid var(--color-white);
  color: var(--color-tertiary);
  background-color: var(--color-white);
}

.projects__container-btn a:hover {
  border: 1px solid var(--color-white);
  color: var(--color-white);
  background-color: var(--color-tertiary);
  text-shadow: 0 0 5px var(--color-white);
}

.projects__container-btn a:nth-child(2):hover{
  border: 1px solid var(--color-tertiary);
}

/* CONTACT */
#contact {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

#contact figure {
  max-width: 500px;
}
#contact img {
  width: 100%;
  object-fit: cover;
}

#contact-form {
  max-width: 500px;
  height: 700px;
  flex-direction: column;
  justify-content: space-between;
}

#contact-form p {
  text-align: justify;
  padding: 0 30px;
}

#contact-form form {
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

#contact-form textarea {
  height: 150px;
  resize: none;
}

#contact-form label {
  margin-top: 10px;
}

#contact-form .asterisk {
  color: #ff0000;
}

.able__btn{
  margin: 30px 0;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid var(--color-white);
  color: var(--color-tertiary);
  background-color: var(--color-white);
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.able__btn:hover {
  color: var(--color-white);
  background-color: var(--color-tertiary);
  text-shadow: 0 0 5px var(--color-white);
}

.disabled__btn {
  margin: 30px 0;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid var(--color-black);
  color: var(--color-black);
  background-color: #808080;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.disabled__btn:hover{
  border: 1px solid var(--color-black);
  color: var(--color-black);
  background-color: #6c0000;
  cursor: not-allowed;
}

#form__information--alert p{
  padding: 0;
  font-size: 1rem;
}

.text-error-color{
  color: #ff5b5b;
  text-shadow: 0 0 5px #f00;
}

.text-correct-color{
  color: #41cb43;
  text-shadow: 0 0 5px #00ff04;
}

/* FOOTER */
footer {
  height: 100px;
  background: linear-gradient(180deg, #222222, #333333 70%);
}

footer p {
  font-size: 1.3rem;
  text-align: center;
  padding: 0 30px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  
  .menu-icon {
    display: block;
  }

  #navbar {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 90px;
    left: 0;
    width: 100%;
    background: linear-gradient(0deg, var(--color-grey), var(--color-black));
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 50;
  }

  #navbar ul {
    flex-direction: column;
    align-items: center;
    background: none;
  }

  #navbar ul li {
    margin: 10px 0;
  }

  .menu-toggle:checked + .menu-icon + #navbar {
    display: flex;
  }

  .projects__container-cards{
    flex-wrap: wrap;
  }

  #projects figure{
    width: auto;
  }
  
  #contact {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 767px) {
  #about-me__container h2, 
  #skills h2, 
  #hobbies h2, 
  #formation h2, 
  #projects h2, 
  #contact h2 {
    font-size: 3rem;
}

  #introduction__img-container img {
    max-width: 300px;
  }

  .menu-icon {
    display: block;
  }

  #navbar {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 90px;
    left: 0;
    width: 100%;
    background: linear-gradient(0deg, var(--color-grey), var(--color-black));
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 50;
  }

  #navbar ul {
    flex-direction: column;
    align-items: center;
    background: none;
  }

  #navbar ul li {
    margin: 10px 0;
  }

  .menu-toggle:checked + .menu-icon + #navbar {
    display: flex;
  }

  .formation__cards {
    max-width: 250px;
    height: 450px;
  }
  
  .formation__cards img {
    min-height: 250px;
    height: auto;
  }

  .projects__container-cards--text h3 {
    font-size: 2rem;
  }

  .projects__container-cards{
    flex-wrap: wrap;
  }

  #projects figure{
    width: auto;
  }

  #contact {
    flex-direction: column-reverse;
  }
}
